/* INICIO FOOTER */
.footer{
    width: 100%;
    height: 100%;
    & .color-fondo{
        background-color: #a18da0;
        & .arriba{
            & h6{
                color: whitesmoke;
            }
            & i{
                color: whitesmoke;
                transition: 800ms;
                &:hover{
                    transform: rotate(360deg)
                }
            }
        }
    }
    & .medio{
        & .imagen-logo{
            transition: 800ms;
            &:hover{
                transform: scale(0.8);
            }
        }
        & h6{
            color: $colorSecundario;
            padding-top: 2rem;
        }
        & .p-footer{
            color: $colorTerceario;
        }
        & .link-footer{
            width: auto;
            height: 100%;
            position: relative;
            text-decoration: none;
            color: $colorTerceario;
            &::before{
                content: "";
                position: absolute;
                background-color: $colorSecundario;
                width: 0%;
                height: 2px;
                transition: 0.6s ease-in-out;
                left: 0;
                bottom: -2px;
            }
            &:hover::before{
                width: 100%
            }
        }
        & p{
            color: $colorTerceario;
        }
    }
    & .abajo{
        color: whitesmoke;
        background-color: #777484;
        & img{
            animation: logocopy infinite 4s;
        }
    }
    @keyframes logocopy {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}
/* FIN FOOTER */