$colorPrincipal: #ffb2a4;
$colorSecundario: goldenrod;
$colorTerceario: #818181;
$colorH2: whitesmoke;
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Cormorant Garamond', serif;
$fuenteTerciaria: 'PT Sans', sans-serif;